<div class="result">
  <td>
    <img src="<%= movie.Poster %>" class="card-img" alt="...">
  </td>
  <td>
    <a href="/m/<%= movie.imdbID %>"><%= movie.Title %> (<%= movie.Year %>)</a>
  </td>
</div>
