<% layout("layouts/boilerplate") %>

<link rel="stylesheet" href="/css/search.css">
<div class="container">
    <% for(let movie of movies) { %> 
        <%- include("partials/movie", { movie }) %>
    <% } %>
</div>