<% layout("layouts/boilerplate") %>

<link rel="stylesheet" href="/css/search.css">
<div class="container">
    <div class="card">
        <ul>
            <% for(let movie of movies) { %> 
                    <%- include("partials/movie", { movie }) %>
            <% } %>
        </ul>
    </div>
</div>