.card{
    padding: 10px;
}

ul{
    list-style-type: none;
    padding: 0;
}

.result a:any-link{
    color: black;
    text-decoration: none;
    font-size: 16px;
}

.result img{
    margin-top: 2px;
    width: 64px;
    height: 88px;
}


