.card{
    margin-top: 10px;
}

#movie-poster{
    width: 182px;
    height: 268px;
}

svg{
    pointer-events: none;
}

h1{
    text-align: center;
}

p{
    color: black;
}

#btn-download, #btn-back, #form-back{
    display: inline-block;
}

@media (max-width: 767px) {
    #trailer {
      display: none;
    }
}